body,html {
  margin: 0;
  padding: 0;
}
header {
  background-color: #7fffd3;
}

header div {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
nav {
  background-color: #FF6347;
}

nav div{
  height: 100%;
}

main {
  background-color: yellow;
  padding: 5px 15px;
  width: 70%;
  max-width: 70%;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  background-color: orange;
}

aside {
  background-color: grey;
  width: 30%;
}
footer{
  background-color:#06FEFF;
  height: 100%;
}

h1,
h2, h3,
h4 {
  padding: 0;
  margin: 0;
}

header,
footer, 
nav{
    min-height: 100px;
}

footer p {
  margin: 0;
}
