body,html {
  margin: 0;
  padding: 0;
}

main {
  background-color: yellow;
  padding: 5px 5px;
  width: 70%;
  max-width: 70%;
}

strong {
  background-color: grey;
  width: 30%;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  background-color: orange;

}

header {
  background-color: #7fffd3;
}

footer{
  background-color:#06FEFF;
}

